<div class="alert ">
    <form [formGroup]="changeForm" (ngSubmit)="changePass()">
        <div class="text-center">
            <h5><strong> Actualizar Contraseña</strong></h5>
            <br>
        </div>
        <div class="form-group">
            <input placeholder="Contraseña actual" type="password" formControlName="oldPassword" [(ngModel)]="admin.password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">Contraseña es requerida</div>
            </div>
        </div>
        <div class="form-group">
            <input placeholder="Nueva Contraseña" type="password" formControlName="newPassword" [(ngModel)]="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">contraseña requerida</div>
                <div *ngIf="f.newPassword.errors.minlength">minimo 6 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <input placeholder="Repetir Contraseña" type="password" formControlName="confirmPassword" [(ngModel)]="confirm" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">contraseña requerida</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">las contraseñas no coinciden</div>
            </div>
        </div>
        <div class="text-center">
            <div class="form-group">
                <button outline="true" class="btn btn-lg btn-primary">Cambiar</button>
            </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>