<mat-spinner class="spinner" *ngIf="!showinfo"></mat-spinner>
<div *ngIf="showinfo" class="container">
    <div class=" text-center  col-md-12 align-center">
        <h2>
            <Strong>Lista de Usuarios</Strong>
        </h2>
        <br>
        <button mdbBtn type="button" class="btn btn-outline-info waves-effect" outline="true" (click)="exportexcel()" mdbWavesEffect> <i class="fas fa-download pr-2"></i> Exportar </button>

        <br>
        <br>
        <table id="excel-table" class="table table-responsive-lg">
            <thead class="black white-text">
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let col of listInfo;let i = index">
                    <td>{{col.nombre}}</td>
                    <td> {{col.apellido}}</td>
                    <td> {{col.edad}} años</td>
                    <td> <a href="tel:{{col.correo}}">{{col.telefono}}</a></td>
                    <td> <a href="mailto:{{col.correo}}"> {{col.correo}}</a> </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>