<mat-spinner class="spinner" *ngIf="!showinfo"></mat-spinner>
<div *ngIf="showinfo" class="container ">
    <div class="row" *ngIf="listInfo?.length > 0 then showlist else showCard "></div>
    <ng-template #showlist>
        <div class="container">
            <h2>
                <Strong>Servicios Pendientes</Strong>
            </h2>
        </div>
        <br>
        <div *ngFor="let item of listInfo;let i = index">
            <mdb-card borderColor="border-secondary">
                <mdb-card-header class="teal lighten-4">
                    <h5> <strong> Solicitud de servicio: {{item.id_service}} </strong></h5>
                </mdb-card-header>
                <mdb-card-body>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <mdb-card-title>
                                <h5>Usuario</h5>
                                <p>Nombre: <strong> {{item.nombre}} {{item.apellido}} </strong></p>
                                <p>Direccion:<strong> {{item.direccion}}  </strong></p>
                                <p>Celular:<strong> {{item.celular}}  </strong></p>
                                <p>Correo:<strong> {{item.correo}}  </strong></p>
                                <hr style="border-color:black" class="col-md-10">
                            </mdb-card-title>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <mdb-card-title>
                                <h5>Servicio de: <strong> {{item.nombreCategoria}} </strong> </h5>
                                <p>tipo de Servicio: <strong> {{item.tipoServicio}} </strong></p>
                                <p>Fecha de Servicio: <strong> {{item.fecha_servicio}} </strong></p>
                                <p>Horario: <strong> {{item.horario}} </strong></p>
                                <div *ngIf="item.nColaboradores; then colaboradores else vehiculos"></div>
                                <ng-template #colaboradores>
                                    <p>Colaboradores: <strong> {{item.nColaboradores}} </strong></p>
                                </ng-template>
                                <ng-template #vehiculos>
                                    <p>Vehiculos:<strong> {{item.nCarros}} </strong> </p>
                                </ng-template>
                                <hr style="border-color:black" class="col-md-10">
                            </mdb-card-title>
                        </div>
                    </div>
                    <p>Valor total: <strong>$ {{item.valor}} </strong></p>
                    <form [formGroup]="formAssigned">
                        <div formArrayName="selectArray">
                            <div [formGroupName]="i">
                                <div *ngIf="item.nColaboradores; then Selectcolaboradores else Selectvehiculos"></div>
                                <ng-template #Selectcolaboradores>
                                    <div *ngIf="item.nColaboradores>1; then SelectColaboradoresMas else  SelectColaboradores1"></div>
                                    <ng-template #SelectColaboradoresMas>
                                        <mat-form-field class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                                            <mat-select placeholder="Colaboradores" [(value)]="item.asignados" formControlName="selection" class="form-control" (selectionChange)="changed(item.nColaboradores,i)" [ngClass]="{ 'is-invalid': submitted[i] && selectArray.controls[i].get('selection').errors }"
                                                multiple>
                                                <mat-option *ngFor="let colaborador of listColaboradores" [value]="colaborador">{{colaborador.nombre}} {{colaborador.apellido}}</mat-option>
                                            </mat-select>
                                            <div *ngIf="submitted[i] && selectArray.controls[i].get('selection').errors" class="invalid-feedback">
                                                <div *ngIf="selectArray.controls[i].get('selection').errors">Campo obligatorio</div>
                                            </div>
                                        </mat-form-field>
                                    </ng-template>
                                    <ng-template #SelectColaboradores1>
                                        <mat-form-field class="col-md-4 col-lg-4 col-sm-10 col-xs-12" required>
                                            <mat-label>Selecciona Colaborador</mat-label>
                                            <!--MIRAR EL ADECUANDO USO DE ESTE ITEM.II-->
                                            <mat-select [(value)]="item.asignados" formControlName="selection" class="form-control" [ngClass]="{ 'is-invalid': submitted[i] && selectArray.controls[i].get('selection').errors }">
                                                <mat-option *ngFor="let colaborador of listColaboradores" [(value)]="colaborador">{{colaborador.nombre}} {{colaborador.apellido}}</mat-option>
                                            </mat-select>
                                            <div *ngIf="submitted[i] && selectArray.controls[i].get('selection').errors" class="invalid-feedback">
                                                <div *ngIf="selectArray.controls[i].get('selection').errors">Campo obligatorio</div>
                                            </div>
                                        </mat-form-field>
                                    </ng-template>
                                </ng-template>
                                <ng-template #Selectvehiculos>
                                    <mat-form-field class="col-md-4 col-lg-4 col-sm-10 col-xs-12">
                                        <mat-label>Selecciona Colaborador</mat-label>
                                        <mat-select [(value)]="item.asignados" formControlName="selection" class="form-control" [ngClass]="{ 'is-invalid': submitted[i] && selectArray.controls[i].get('selection').errors }">
                                            <mat-option *ngFor="let colaborador of listColaboradores" [(value)]="colaborador">{{colaborador.nombre}} {{colaborador.apellido}}</mat-option>
                                        </mat-select>
                                        <div *ngIf="submitted[i] && selectArray.controls[i].get('selection').errors" class="invalid-feedback">
                                            <div *ngIf="selectArray.controls[i].get('selection').errors.required">Campo obligatorio</div>
                                        </div>
                                    </mat-form-field>
                                </ng-template>
                                <br>
                                <button mdbBtn class="btn" color="success" (click)="asigned(item,i)" mdbWavesEffect><i class="fas fa-edit pr-2"  ></i>Asignar</button>
                                <button mdbBtn type="button" color="danger" (click)="refuse(item,i)" mdbWavesEffect><i class="fas fa-trash pr-2"></i>Rechazar</button>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
                <mdb-card-footer class="teal lighten-5">
                    <p>Fecha de solicitud: {{item.fecha}} </p>
                </mdb-card-footer>
            </mdb-card>
            <br><br>
        </div>
    </ng-template>
    <ng-template #showCard>
        <div class="container">
            <h2>
                <Strong>Servicios Pendientes</Strong>
            </h2>
        </div>
        <br>
        <mdb-card class="emptyproject">
            <mdb-card-body>
                <h4> <strong> <b> No tienes  servicios pendientes</b></strong></h4>
            </mdb-card-body>
        </mdb-card>
    </ng-template>
</div>