<mat-spinner class="spinner" *ngIf="!showinfo"></mat-spinner>
<div *ngIf="showinfo" class="container ">
    <h2> <strong>       <b> Colaboradoradores </b> </strong> </h2>
    <br>
    <div style="text-align: center">
        <button mdbBtn type="button" block="true" color="success" outline="true" (click)="insert()" mdbWavesEffect> <i class="far fa-save  pr-2"></i> Insertar </button>
    </div>
    <br>

    <div class="table-responsive-lg">
        <table class="table">
            <thead class="black white-text">
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listInfo;let i = index">
                    <td>{{item.nombre}}</td>
                    <td> {{item.apellido}}</td>
                    <td> {{item.cedula}}</td>
                    <td>{{item.celular}}</td>
                    <td> <button mdbBtn type="button" color="danger" outline="true" (click)="delete(item.id_person)" mdbWavesEffect><i class="fas fa-trash pr-2"></i>Eliminar</button></td>
                    <td><button mdbBtn type="button" color="secondary" outline="true" (click)="update(item)" mdbWavesEffect><i class="fas fa-edit pr-2"></i>Actualizar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>

<br>
<br>