<mat-sidenav-container class="sidenav-container sticky-top  ">
    <mat-sidenav #drawer mode="side" class="sidenav deep-purple darken-1" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list id="menu">
            <a (click)="hideShow()" mat-list-item [routerLink]="['']"> Inicio <mat-icon  class="pl-2">home</mat-icon></a>
            <hr>
            <a (click)="hideShow()" mat-list-item [routerLink]="['colaboradores']"> Colaboradores<mat-icon class="pl-2">people_outline</mat-icon></a>
            <hr>
            <a (click)="hideShow()" mat-list-item href="#"> Servicios Realizados <mat-icon class="pl-2">history</mat-icon></a>
            <hr>
            <a (click)="hideShow()" mat-list-item href="#">Servicios Pendientes <mat-icon class="pl-2">visibility</mat-icon></a>
            <hr>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>App Señorial</span>
            <span class="example-spacer"></span>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>Servicios
             </button>
            <button mat-raised-button color="primary" [matMenuTriggerFor]="datos">
                <mat-icon>data_usage</mat-icon>Mis datos
            </button>
            <button mat-raised-button color="primary">
                Salir
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
          <mat-icon>done_outline</mat-icon>
          <span>Realizados</span>
        </button>
                <button mat-menu-item>
          <mat-icon>visibility</mat-icon>
          <span>Pendientes</span>
        </button>
            </mat-menu>
            <mat-menu #datos="matMenu">
                <button mat-menu-item>
                    <mat-icon>update</mat-icon>
                    <span>actualizar</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <!-- Add Content Here -->
        <main class="text-center py-5">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>